.contact {
  padding: 75px;
}
.card-responsive {
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-responsive {
    width: 100%;
  }
}

.contact {
  padding: 20px; /* Espaciado general */
}

h1, h5 {
  text-align: center;
}
