.home {
  height: 100vh;
  padding: 75px;
}

.big-text {
  font-size: 5rem;
}

.profession {
  font-size: 1.3rem;
}

.paragraph {
  font-size: 1rem;
}

.home_hand {
  width: 4rem;
  height: 4rem;
  margin-top: -10px;
  animation-name: greet;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.hello-btn {
  background-color: #5698ed;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.hello-btn:hover {
  background-color: #3d6db0;
}

.profile-img {
  max-height: 550px;
  max-width: 100%;
}
/* 
.wheel {
  animation: scroll 2s ease infinite;
} */

@media (max-width: 768px) {
  .big-text {
    font-size: 2.5rem;
  }

  .profession {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .home_hand {
    width: 3rem;
    height: 3rem;
  }

  .hello-btn {
    font-size: 1rem;
  }

  .profile-img {
    max-height: 300px;
  }

  .home {
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .big-text {
    font-size: 2.4rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .hello-btn {
    font-size: 1rem;
  }
}

@keyframes greet {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(35deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-35deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}
