@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::root {
  --js-color: #f0db4f !important;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  font-family: 'Montserrat', system-ui;
}

html {
  scroll-behavior: smooth;
}


button {
  outline: none !important;
  cursor: pointer !important;
}

.home, .contact {
  background-color: #ffffff;
}

.portfolio {
  /* padding: 0 !important; */
  background-color: #eff1f6;
}