@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', system-ui;
}

.home, .contact {
  background-color: #ffffff;
}

.projects {
  background-color: #eff1f6;
}