.navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.first-name {
  font-size: 20px;
}

.last-name {
  color: #267cec;
}

.navbar-menu {
  list-style: none;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #5698ed;
}

.btn-primary {
  background-color: #267cec;
  border-color: #267cec;
  color: #ffffff !important;
  font-weight: bold;
}

.dark {
  background-color: #0E1110;
  color: #ffffff;
}

.dark a {
  color: #ffffff;
}

.dark #laboral-timeline, .dark #academic-timeline {
  color: #ffffff;
}

.dark .ant-timeline-item-tail {
  background-color: #fefefe;
}

.dark .skills .ant-card, .dark .portfolio .ant-card {
  background-color: #0e1110;
  color: #ffffff;
  border: none;
}

.dark .ant-card-meta-title {
  color: #ffffff;
}

.dark .ant-card-meta-description, .dark .contact .ant-card h5, .dark .contact label {
  color: #b8b8b8e0;
}

.dark .ant-collapse {
  background-color: transparent;
  color: #ffffff;
}

.dark .portfolio {
  background-color: #14181a;
}

.dark .contact .ant-card {
  background-color: transparent;
  color: #ffffff;
  border: .5px solid #ffffff;
}

.dark.contact input,.dark.contact textarea {
  background-color: #14181a;
  color: #ffffff;
}

.dark .footer .ant-card {
  background-color: #267cec;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}