.navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.first-name {
  font-size: 20px;
}

.last-name {
  color: #267cec;
}

.navbar-menu {
  list-style: none;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #5698ed;
}

.btn-primary {
  background-color: #267cec;
  border-color: #267cec;
  color: #ffffff !important;
  font-weight: bold;
}

.dark {
  background-color: #1C1B27;
  color: #ffffff;
}

.dark a {
  color: #ffffff;
}

.dark #laboral-timeline, .dark #academic-timeline {
  color: #ffffff;
}

.dark .ant-timeline-item-tail {
  background-color: #fefefe;
}

.dark .skills .ant-card, .dark .portfolio .ant-card, .dark .contact .ant-card {
  background-color: #1c1b27;
  color: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 .2px #ffffff;
}

.dark .portfolio .ant-card:hover {
  box-shadow: inset 0 0 0 .2px #1c1b27;
}

.dark .ant-card-meta-title {
  color: #ffffff;
}

.dark .ant-card-meta-description, .dark .contact .ant-card h5, .dark .contact label {
  color: #ffffff;
}

.dark .ant-collapse, .dark .ant-collapse-content-box {
  border: none;
  box-shadow: inset 0 0 0 .2px #ffffff;
}

.dark .ant-collapse-content-box {
  border-radius: 0px 0px 7px 7px;
}

.dark .ant-collapse-expand-icon, .dark .ant-collapse-header-text {
  background-color: #1c1b27;
  color: #ffffff;
}

.dark .ant-collapse-content-box {
  background-color: #1c1b27;
}

.dark .portfolio {
  background-color: #252535;
}

.dark .contact .ant-card {
  background-color: transparent;
}

.dark .contact input, .dark .contact textarea {
  background-color: #1c1b27;
  color: #ffffff;
  box-shadow: inset 0 0 0 .2px #ffffff;
}

.dark .contact input::placeholder, .dark .contact textarea::placeholder {
  color: #ffffff;
}

.dark .footer .ant-card {
  background-color: #267cec;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    margin-left: -50px;
  }

  .navbar-menu .btn {
    display: none;
  }
}